pane_frames false

layout {
    tab hide_floating_panes=true {
        floating_panes {
            zj_tab_rename close_on_exit=true
        }
        compact_bar size=1
        pane split_direction="vertical" {
            editor
            pane stacked=true size=80 {
                pane
                pane {
                  command "claude"
                }
            }
        }
    }

    swap_tiled_layout name="compact" {
        tab exact_panes=3 {
            compact_bar size=1
            pane split_direction="horizontal" {
                editor size="75%"
                pane
            }
        }

        tab min_panes=4 {
            compact_bar size=1
            pane split_direction="horizontal" {
                editor size="75%"
                pane split_direction="vertical" {
                    pane
                    pane
                }
            }
        }
    }


    // TEMPLATES
    pane_template name="editor" {
        command "$EDITOR"
    }

    pane_template name="compact_bar" {
      borderless true
      plugin location="zjstatus"
    }

    pane_template name="zj_tab_rename" {
      command "zj_tab_rename" 
    }

    new_tab_template hide_floating_panes=true {
        compact_bar size=1
        pane
    }
}
